<!--<h1>Libri</h1>-->
<!--<div>-->
<!--<a href="#!/login" style="margin-right: 10px">-->
<!--Login-->
<!--</a>-->
<!--<a href="#!/register">-->
<!--Sign up-->
<!--</a>-->
<!--</div>-->
<div pr-double-search-bar>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <img src="brand.png" height="52px" width="auto">
            <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li>-->
            <!--<a href="#!/login">Log in</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#!/register">Sign up</a>-->
            <!--</li>-->
            <!--</ul>-->
            <div class="input-group pr-center"
                 id="secondSearchBar">
                <input class="form-control"
                       type="text"
                       ng-model="model.searchText"
                       placeholder="Search By title/author/isbn">
                <span class="input-group-btn">
                    <a href="#!/search/text={{model.searchText}}"
                       class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </span>
            </div>

            <div class="pull-right navbar-text"
                 ng-show="!model.user">
                <a href="#!/login">Log in</a> <b>Or</b> <a href="#!/register">Sign up</a>
            </div>
        </div>
    </nav>

    <div class="pr-full-screen pr-home-color-pattern" pr-full-screen>

        <div class="pr-center">
            <img src="logo.png" class="logo-image">
            <div class="input-group"
                 id="primarySearchBar">
                <input class="form-control"
                       type="text"
                       ng-model="model.searchText"
                       placeholder="Search By title/author/isbn">
                <span class="input-group-btn">
                    <a href="#!/search/text={{model.searchText}}"
                       class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </span>
            </div>
            <label class="pr-home-page-tip">
                Scroll down to discover more
            </label>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-9">

                <div class="pr-info-box"
                     pr-half-screen>
                    <span class="pr-home-label">
                        People are reading
                    </span>
                    <hr class="pr-hr">
                    <span class="pr-divider"></span>

                </div>

                <div class="pr-info-box"
                     pr-half-screen>
                    <span class="pr-home-label">
                        New books
                    </span>
                    <hr>
                    <span class="pr-divider"></span>

                </div>

            </div>
            <div class="col-sm-3">
                <div class="pr-info-box"
                     pr-thirty-percent-screen>
                    <span class="pr-home-label">
                        Quote
                    </span>
                    <hr>
                    <span class="pr-divider"></span>

                </div>

                <div class="pr-info-box"
                     pr-seventy-percent-screen>
                    <span class="pr-home-label">
                        Popular User
                    </span>
                    <hr>
                    <span class="pr-divider"></span>

                </div>
            </div>
        </div>

    </div>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-brand">
                CS5610 Project
            </div>
            <div class="navbar-text pull-right">
                &copy; Chen Zhe
            </div>
        </div>
    </nav>
</div>
