<div ng-include="'views/common/personal-page-navbar.view.client.html'"></div>

<img src="http://lorempixel.com/400/200"
     class="pr-personal-page-title pr-horizontal-center">

<hr>

<div class="row">
    <div class="col-sm-4 col-xs-12 pr-work-display" ng-repeat="work in model.user.works">
        <img ng-src="{{work.image_url}}">
        <div>
            <a href="#!/book/libriId={{work._id}}"><b>{{work.title}}</b> </a>
        </div>
        <div>
            {{model.user.workStatistics[model.user.works.indexOf(work)].wantToRead}} persons want to read
        </div>
        <div>
            {{model.user.workStatistics[model.user.works.indexOf(work)].reading}} persons are reading
        </div>
        <div>
            {{model.user.workStatistics[model.user.works.indexOf(work)].haveRead}} persons have read
        </div>
        <div>
            {{model.user.workStatistics[model.user.works.indexOf(work)].reviewNumber}} reviews
        </div>
        <div>
            <ng-rate-it ng-model="work.average_rating"
                        step="0.01"
                        read-only="true">
            </ng-rate-it>
        </div>
    </div>
</div>

