<div ng-include="'views/admin/templates/common/admin-navbar.view.client.html'"></div>

<div class="pr-admin-head">
    <h1>Administer Book</h1>

</div>

<div class="container">

    <form novalidate
          name="model.form">

        <label for="title">
            Title
        </label>

        <input class="form-control"
               name="title"
               ng-class="{'invalid-input': model.form.title.$error.required && model.form.$submitted}"
               id="title"
               ng-model="model.book.title"
               required>

        <label for="author">
            Author
        </label>

        <input class="form-control"
               id="author"
               name="author"
               ng-class="{'invalid-input': model.form.author.$error.required && model.form.$submitted}"
               ng-model="model.book.author"
               required>

        <label for="publisher">
            Publisher
        </label>
        <input class="form-control"
               name="publisher"
               id="publisher"
               ng-class="{'invalid-input': model.form.publisher.$error.required && model.form.$submitted}"
               ng-model="model.book.publisher"
               required>

        <label for="description">
            Description
        </label>
        <textarea class="form-control"
                  id="description"
                  ng-model="model.book.description"
                  rows="5">
        </textarea>

        <label for="publicationYear">
            Publication year
        </label>
        <input class="form-control"
               id="publicationYear"
               ng-model="model.book.publication_year">

        <label for="publicationMonth">
            Publication month
        </label>
        <input class="form-control"
               id="publicationMonth"
               ng-model="model.book.publication_month">

        <label for="publicationDay">
            Publication day
        </label>
        <input class="form-control"
               id="publicationDay"
               ng-model="model.book.publication_day">

        <label for="isbn">
            ISBN
        </label>
        <input class="form-control"
               id="isbn"
               ng-model="model.book.isbn">

        <label for="imageUrl">
            Image url
        </label>

        <input class="form-control"
               id="imageUrl"
               ng-model="model.book.image_url">

        <div ng-show="model.message"
             class="alert alert-success">
            {{model.message}}
        </div>

        <div ng-show="model.error"
             class="alert alert-danger">
            {{model.error}}
        </div>

        <div ng-show="model.book._id">
            <input class="btn btn-block btn-success"
                   value="Update"
                   type="submit"
                   ng-click="model.updateBook()">

            <input class="btn btn-block btn-danger"
                   value="Delete"
                   type="submit"
                   ng-click="model.deleteBook()">
        </div>

        <div ng-show="!model.book._id">
            <input class="btn btn-block btn-success"
                   value="Create"
                   type="submit"
                   ng-click="model.createBook()">
        </div>
    </form>

</div>