.navbar-default {
    background-image: none;
}

.navbar-parent-page  {
    background-color: lightskyblue;
}

.navbar-parent-page .navbar-text,
.navbar-parent-page .navbar-brand{
    color: white;
}

.navbar-child-page  {
    background-color: #f9f9f9;
}

.navbar-flickr{
    background-color: forestgreen;
}

.navbar-flickr .navbar-brand,
.navbar-flickr .navbar-text{
    color: white;
}

.navbar-child-page .navbar-text,
.navbar-child-page .navbar-brand{
    color: black;
}

.navbar-brand{
    margin-left: -15px;
}

.navbar-text{
    margin-right: 15px;
}

@media (max-width: 768px) {
    .navbar-item-hidden-xs {
        display: none;
    }
}
