
input.form-control,
textarea.form-control{
    margin-bottom: 5px;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.chinese-character{
    font-family: "Microsoft YaHei";
}

.scrollable-element-1-3 {
    position: absolute;
    top: 70px;
    bottom: 70px;
    overflow: scroll;
}

.fixed-element-2-3 {
    position: relative;
    left: 33.33333333%;
}

@media (min-width: 768px){
    .container .scrollable-element-1-3 {
        width: 250px;
    }
}

@media (min-width: 992px){
    .container .scrollable-element-1-3 {
        width: 323.33px;
    }
}

@media (min-width: 1200px) {
    .container .scrollable-element-1-3 {
        width: 390px;
    }
}

@media (max-width: 768px) {
    .scrollable-partner-hidden-xs{
        position: relative;
        left: 0;
        right: 0;
    }
}




