
input.form-control {
    margin-bottom: 5px;
}

body {
    margin-top: 70px;
    margin-bottom: 70px;
}

.chinese-character{
    font-family: "Microsoft YaHei";
}

.container>.navbar-header {
    margin-right: 0px;
    margin-left: -15px;
}



