<nav class="navbar navbar-default navbar-toggleable-md">
    <div class="container">

        <a href="#!/" class="navbar-brand">
            <img src="brand.png" height="30px" width="auto">
        </a>



        <div class="input-group pr-center pr-nav-searchbar">
            <input class="form-control"
                   type="text"
                   ng-model="model.searchText"
                   placeholder="Search by title/author/isbn">
            <span class="input-group-btn">
                <a href="#!/search/text={{model.getSearchText()}}"
                   class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                </span>
        </div>

        <ng-include src="'views/common/navbar-login.view.client.html'"></ng-include>
    </div>
</nav>