<div class="container">
    <h1>Book details</h1>
    <img ng-src="{{model.book.image_url[0]}}">
    <div ng-show="model.book">
        <h2>
            {{model.book.title[0]}}
        </h2>

        <b>By</b> {{model.book.authors[0].author[0].name[0]}} <br>

        <b>Your rating</b>
        <span ng-switch="model.currentUserHasReview">
            <span ng-switch-when="not logged in">
                <a href="#!/login">Log in</a> to review this book.
            </span>
            <span ng-switch-when="no">
                You haven't reviewed this book. <a>Review it</a>.
            </span>
            <span ng-switch-when="yes">

            </span>
        </span> <br>
        <b>Goodreads average rating</b> {{model.book.average_rating[0]}} <br>
        <b>Libri average rating</b> <br>

        <a class="btn btn-success">starts reading this book</a>
        <a class="btn btn-primary">claim this book</a>

        <h3>Description</h3>
        <div ng-bind-html="model.book.description"></div>
    </div>
    <div ng-bind-html="model.book.reviews_widget"></div>

    <h3 id="userReview">Your review</h3>
    <div ng-show="model.currentUserHasReview == 'yes'">
        <a>Edit</a> Created on {{model.currentUserReview.date || date}}
    </div>
    <div ng-switch="model.currentUserHasReview">
        <div ng-switch-when="not logged in">
            <a href="#!/login">Log in</a> to review this book.
        </div>
        <div ng-switch-when="no">
            You haven't reviewed this book. <a>Review it</a>.
        </div>
        <div ng-switch-when="yes">
            
        </div>
    </div>

    <h3>Libri reviews</h3>

</div>

