<div ng-include="'views/common/navbar-searchbar.view.client.html'"></div>

<hr>

<div class="pr-horizontal-center pr-book-detail" ng-show="model.book">

    <div class="pr-edit-book-link">
        <div ng-if="model.book._id">
            <a href="#!/book/edit/{{model.book._id}}">Edit this book</a>
        </div>
    </div>

    <div class="row pr-book-detail-head">
        <div class="col-sm-3">
            <img class="pr-book-detail-image"
                 ng-src="{{model.book.image_url}}">
        </div>

        <div class="col-sm-9">
            <h2>
                {{model.book.title}}
            </h2>

            <div>
                <b>By</b> {{model.book.author}}
            </div>

            <div>
                published on {{model.book.publication_year}}-{{model.book.publication_month}}-{{model.book.publication_day}}
                by <b>{{model.book.publisher}}</b>
            </div>

            <div>
                <a ng-click="model.goToReview()">Your review</a>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div>
                        <b>Libri average rating</b>
                    </div>
                </div>
                <div class="col-sm-8 pr-ngrateit">
                    <ng-rate-it ng-model="model.book.average_rating"
                                step="0.01"
                                read-only="true">
                    </ng-rate-it>
                </div>
            </div>


            <div class="row pr-book-operation-options">
                <div class="col-sm-4 pr-rate-book">

                    <div ng-show="model.user">
                        Rate it!
                        <span ng-click="model.updateRating()">
                            <ng-rate-it ng-model="model.currentUserReview.rating"
                                        step="1"
                                        resetable="false">
                        </ng-rate-it>
                        </span>

                        <div ng-show="model.ratingMessage">
                            {{model.ratingMessage}}
                        </div>
                    </div>
                    <div ng-show="!model.user">
                        <a href="#!/login">Log in</a> to rate this book.
                    </div>
                </div>
                <div class="col-sm-4 pr-book-operation">
                    <div class="btn-group btn-flex">
                        <button ng-if="!model.user || !model.bookshelfPart" class="btn btn-default">Put it on bookshelf</button>
                        <button ng-if="model.user && model.bookshelfPart" class="btn btn-default">{{model.bookshelfPart}}</button>
                        <button type="button"
                                class="btn btn-success dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a ng-click="model.putBookOnBookshelf('WANTTOREAD')">Want to read</a></li>
                            <li><a ng-click="model.putBookOnBookshelf('READING')">Reading</a></li>
                            <li><a ng-click="model.putBookOnBookshelf('HAVEREAD')">Have read</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 pr-book-operation"
                     ng-show="model.user.role == 'AUTHOR' && !model.book.isClaimed">
                    <a class="btn btn-primary btn-block"
                       ng-click="model.claimThisBook()">
                        claim this book
                    </a>
                </div>

                <div class="col-sm-4 pr-book-operation"
                     ng-show="model.user.role == 'AUTHOR' && model.book.isClaimed">
                    This is your work
                </div>

            </div>
        </div>
    </div>

    <hr>

    <h3>Description</h3>
    <div ng-bind-html="model.trustThisContent(model.book.description)"></div>

    <hr>

    <h3 id="userReview">Your review</h3>

    <div ng-show="!model.user">
        <div class="pr-rate-book">
            <a href="#!/login">Log in</a> to review this book.
        </div>
    </div>

    <div ng-show="model.user && !model.currentUserHasReview">
        <div ng-show="!model.showReviewEditor"
             class="pr-rate-book">
            You haven't reviewed this book. <a ng-click="model.showReviewEditor = true">Review</a> it!
        </div>
    </div>

    <div ng-show="model.user && model.currentUserHasReview">
        <div ng-show="!model.showReviewEditor">
            <div class="row">
                <div class="col-xs-2">
                    <ng-rate-it ng-model="model.currentUserReview.rating"
                                read-only="true"></ng-rate-it>
                </div>
                <div class="col-xs-10">
                    on {{model.currentUserReview.dateUpdated || date}}
                </div>
            </div>

            <div ng-bind-html="model.trustThisContent(model.currentUserReview.content)"></div>

            <a class="btn btn-block btn-primary"
               ng-click="model.showReviewEditor = true">
                Edit
            </a>
        </div>
    </div>

    <div ng-show="model.showReviewEditor">
        <ng-rate-it ng-model="model.currentUserReview.rating"
                    resetable="false"
                    step="1"></ng-rate-it>

        <span ng-show="model.currentUserHasReview">
            on {{model.currentUserReview.dateUpdated || date}}
        </span>
        <div text-angular
             ng-model="model.currentUserReview.content"
             class="ta-style"
             ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p','quote'],
                                   ['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],
                                   ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent'],
                                   ['html','wordcount']]"
             ta-text-editor-class="form-control myform2-height"
             ta-html-editor-class="form-control myform2-height"
             ta-toolbar-class="btn-toolbar ta-style"></div>
        <div ng-if="model.currentUserHasReview">
            <a class="btn btn-block btn-success" ng-click="model.updateReview()">
                Finish
            </a>
        </div>
        <div ng-if="!model.currentUserHasReview">
            <a class="btn btn-block btn-success" ng-click="model.postReview()">
                Post
            </a>
        </div>
        <div class="btn btn-danger btn-block" ng-click="model.showReviewEditor = false">
            Cancel
        </div>
    </div>

    <hr>

    <h3>Libri reviews</h3>

    <div ng-repeat="review in model.book.reviews" class="pr-review">
        <div class="row">
            <div class="col-xs-2">
                <ng-rate-it ng-model="review.rating"
                            read-only="true"
                            class="pr-ngrateit">
                </ng-rate-it>
            </div>
            <div class="col-xs-10">
                By <a href="#!/profile/{{review.reviewer._id}}">{{review.reviewer.name}}</a> , on {{review.dateUpdated || date}}
            </div>
        </div>
        <div ng-bind-html="model.trustThisContent(review.content)"></div>
    </div>

</div>


