<nav class="navbar navbar-default navbar-fixed-top navbar-child-page">
    <div class="container">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
           class="navbar-link navbar-text pull-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <div class="navbar-brand">
            Widget Edit
        </div>
        <a ng-click="model.updateWidget()">
            <span class="glyphicon glyphicon-ok pull-right navbar-text"></span>
        </a>
    </div>
</nav>

<div class="container">
    <div ng-show="model.message"
         class="alert alert-danger">
        {{model.message}}
    </div>
    <div ng-if="model.widget.type">
        <div ng-include="model.getWidgetEditorUrlForType(model.widget.type)"></div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-child-page">
    <div class="container">
        <a href="#!/profile">
            <span class="glyphicon glyphicon-user pull-right navbar-text"></span>
        </a>
    </div>
</nav>
