<nav class="navbar navbar-default navbar-fixed-top navbar-parent-page">
    <div class="container">
        <a href="#!/user/{{model.userId}}"
           class="navbar-link navbar-text pull-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <div class="navbar-brand">
            Websites
        </div>
        <a href="#!/user/{{model.userId}}/website/new"
           class="navbar-link navbar-text pull-right">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    Website
                </div>
                <div class="col-sm-3 hidden-xs">
                    <span class="pull-right">
                        Created
                    </span>
                </div>
                <div class="col-sm-3 hidden-xs">
                    <span class="pull-right">
                        Updated
                    </span>
                </div>
                <div class="col-xs-6 col-sm-3">
                </div>
            </div>
        </li>
        <li ng-repeat="website in model.websites"
            class="list-group-item">
            <div class="row">
                <a class="col-xs-6 col-sm-3"
                   href="#!/user/{{model.userId}}/website/{{website._id}}/page">
                    {{website.name}}
                </a>
                <div class="col-sm-3 hidden-xs">
                    <span class="pull-right">
                       {{website.dateCreated | date}}
                    </span>
                </div>
                <div class="col-sm-3 hidden-xs">
                    <span class="pull-right">
                        {{website.updated | date}}
                    </span>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-parent-page">
    <div class="container">
        <a href="#!/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user pull-right navbar-text"></span>
        </a>
    </div>
</nav>
