<nav class="navbar navbar-default navbar-fixed-top navbar-parent-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-1">
                <a href="#!/user/{{model.userId}}/website"
                   class="navbar-link navbar-text pull-left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <div class="navbar-brand navbar-item-hidden-xs">
                    Websites
                </div>
                <a href="#!/user/{{model.userId}}/website/new"
                   class="navbar-link navbar-text pull-right navbar-item-hidden-xs">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="col-sm-8 col-xs-11">
                <div class="navbar-brand">
                    New Website
                </div>
                <a ng-click="model.createWebsite()"
                   class="navbar-link navbar-text pull-right">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">

        <!--scrollable left part of the page-->
        <div class="col-sm-4 hidden-xs scrollable-element-1-3">
            <ul class="list-group">
                <li ng-repeat="website in model.websites"
                    class="list-group-item">
                    <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">
                        {{website.name}}
                    </a>
                    <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog pull-right">
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        <!--fixed right part of the page-->
        <div class="col-sm-8 col-xs-12 fixed-element-2-3 scrollable-partner-hidden-xs">
            <div ng-show="model.message"
                 class="alert alert-danger">
                {{model.message}}
            </div>

            <form novalidate
                  name="model.form">
                <label for="name">Website name</label>

                <input ng-model="model.website.name"
                       placeholder="Name"
                       id="name"
                       name="websiteName"
                       ng-class="{'invalid-input': model.form.$submitted && model.form.websiteName.$error.required}"
                       required
                       class="form-control">

                <div class="error-message"
                     ng-show="model.form.$submitted && model.form.websiteName.$error.required">
                    Website name is required!
                </div>

                <label for="description">Description</label>
                <textarea ng-model="model.website.description"
                          class="form-control"
                          rows="5"
                          id="description"
                          placeholder="Description"></textarea>
            </form>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom navbar-parent-page">
    <div class="container">
        <a href="#!/profile">
            <span class="glyphicon glyphicon-user pull-right navbar-text"></span>
        </a>
    </div>
</nav>
