<form novalidate
      name="model.form">

    <div ng-include="'views/widget/editors/common/required-input-field-name.view.client.html'"></div>

    <label for="text">
        Text
    </label>

    <input ng-model="model.widget.text"
           id="text"
           class="form-control">

    <label for="size">
        Size
    </label>

    <select ng-model="model.sizeAsText"
            id="size"
            class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>
</form>

<a ng-click="model.deleteWidget()"
   class="btn btn-block btn-danger">
    Delete
</a>

