<form novalidate
      name="model.form">

    <div ng-include="'views/widget/editors/common/required-input-field-name.view.client.html'"></div>

    <label for="html">
        HTML
    </label>
    <div ng-model="model.widget.text"
         id="html"
         class="ta-style"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]"
         ta-toolbar-class="btn-toolbar ta-style">
    </div>
</form>

<a class="btn btn-block btn-danger"
   ng-click="model.deleteWidget()">
    Delete
</a>

