<div ng-include="'views/user/templates/personal-page/personal-page-navbar.view.client.html'"></div>

<h1>Username: {{model.user.username}}</h1>
<a class="btn btn-primary" ng-click="model.logout()">
    Log out
</a>
<h1>My bookshelf</h1>
<h2>Want to read:</h2>
<ul>
    <li ng-repeat="book in model.user.bookshelf.wantToRead">
        {{book.goodreads.id}}
    </li>
</ul>
<h2>Reading:</h2>
<ul>
    <li ng-repeat="book in model.user.bookshelf.reading">
        {{book.title}}
    </li>
</ul>
<h2>Have read:</h2>
<ul>
    <li ng-repeat="book in model.user.bookshelf.haveRead">
        {{book.title}}
    </li>
</ul>
<h1>Following</h1>
<ul>
    <li ng-repeat="user in model.user.following">
        {{user.username}}
    </li>
</ul>
<h1>Followers</h1>
<ul>
    <li ng-repeat="user in model.user.followers">
        {{user.username}}
    </li>
</ul>

